body, a {
    font-size: 14px;
    color: #3a3a3a;
}
a:hover,
a:focus {
  color: #d10d32;
  text-decoration: none;
}
.navbar-default {
  background-color: #FFF;
}
.navbar-default .navbar-nav>li>a {
  color: #3a3a3a;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
  color: #d10d32;
  background-color: #FFF;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #d10d32;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #d10d32;
  background-color: #FFF;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #d10d32;
  background-color: transparent;
}
.navbar-default {
  text-transform: uppercase;
}
.navbar-default .navbar-nav.navbar-right>li>a {
  color: #d10d32;
}
.navbar-default .navbar-nav.navbar-right>li>a.btn-post-text {
  color: #d10d32;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
  color: #d10d32;
  background-color: transparent;
}
.dropdown-search .dropdown-menu form {
  min-width: 200px;
  padding: 0 10px;
  border-radius: 0;
}
.dropdown-search .dropdown-menu form .form-control {
  border-radius: 2px;
}
.hot-news {
  padding-bottom: 20px;
}
.hot-news .carousel-caption {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  padding-bottom: 20px;
}
.carousel-indicators {
  bottom: 0;
}
.hot-news .carousel-caption .inner {
  text-align: left;
  padding: 0 5%;
}
.hot-news .carousel-caption h3 {
    padding: 0;
}

.hot-news .carousel-caption h3 a {
  color: #ff7777;
}

.hot-news .carousel-caption h3 a:hover {
  text-decoration: none;
}
.list-hot-news .item .title {
    margin-bottom: 5px;
}

.list-hot-news .lbl {
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.list-hot-news .item {
    padding: 10px 0;
    border-bottom: 1px dotted #bababa;
}
.list-hot-news .item .title a {
    font-size: 16px;
    font-weight: 400;
    color: #3a3a3a;
}
.list-hot-news .item .title a:hover,
.list-hot-news .item .title a:focus {
  color: #d10d32;
  text-decoration: none;
}
.list-hot-news .item:last-child {
    border-bottom: none;
}
.post-container .container-fluid {
  margin-bottom: 30px;
}
.post-container h1 {
  font-size: 18px;
  color: #eb6e8c;
  position: relative;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}
.post.thumbnail {
  border-radius: 0;
}
.post.thumbnail >a {
  display: block;
  margin-bottom: 10px;
}

.post .avatar-block {
  margin-bottom: 6px;
}

.post .avatar-block .avatar {
  border-radius: 100%;
  display: inline-block;
  overflow: hidden;
  width: 28px;
  height: 28px;
  float: left;
  margin-right: 10px;
  position: relative;
  font-weight: 100;
  color: #fff;
  background-color: #d10d32;
  text-align: center;
  font-size: 16px;
  line-height: 16px;
  padding-top: 7px;
}

.post .avatar-block .name {
  font-size: 12px;
  line-height: 14px;
  padding: 0;
}

.post .title a,
.post .avatar-block .name a {
  color: #3a3a3a;
}

.post .title a.avatar {
  overflow: hidden;
  display: block;
  height: 40px;
}

.post .title a:hover,
.post .avatar-block .name a:hover {
  color: #d10d32;
}

.post .avatar-block .info {
  color: #7b7b7b;
  font-size: 12px;
}

.info-search-bottom {
  overflow: hidden;
  margin: 4px 0;
  font-size: 13px;
}

.info-search-bottom,
.info-search-bottom a {
  color: #999;
}

.info-search-bottom a {
  display: inline-block;
  margin-right: 8px;
}
.info-search-bottom a span {
  margin-right: 1px;
}

.info-search-bottom a:hover {
  color: #d10d32;
}

.top-member {
    text-align: center;
    margin: 20px 0;
}

.top-member h1 {
    text-align: left;
}
.top-member .name {
  line-height: 1.5em;
  text-align: center;
}
.talkbeauty-hint {
    background-color: #ffeff2;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 30px;
}
.talkbeauty-hint .lbl {
    text-transform: uppercase;
    font-size: 18px;
    padding: 20px 5px;
    margin-bottom: 10px;
    color: #d10d32;
    font-weight: 500;
    text-align: center;
}
.talkbeauty-hint .content .item {
    margin-bottom: 30px;
}
.talkbeauty-hint .content .item .img {
    float: left;
    width: 96px;
}
.talkbeauty-hint .content .item .title {
    float: right;
    width: calc(100% - 96px);
    padding-left: 10px;
}
.talkbeauty-hint .content .item .title a {
    color: #3a3a3a;
}
.more-posts {
    margin-bottom: 40px;
    text-align: center;
}
.talkbeauty-hint .btn-grey {
  background-color: #FFF;
    border: 2px solid #999;
    color: #999;
}
.footer {
    border-top: 2px solid #ddd;
    padding: 30px 0;
}

.footer .icon-footer .icons a {
    display: inline-block;
    padding: 0 8px;
    font-size: 24px;
}

.footer .icon-footer .fa {
  padding: 9px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.footer .icon-footer .fa-facebook {
    background: #3B5998;
    color: #FFF;
}

.footer .icon-footer .fa-twitter {
  background: #55ACEE;
  color: #FFF;
}

.logo-footer {
    float: left;
    margin-right: 50px;
}

.menu-footer {
    float: left;
    margin-top: 5px
}

.footer .menu-footer a {
    color: #3a3a3a;
    text-transform: uppercase;
    font-weight: 400;
    padding: 0 10px;
    display: inline-block;
    font-size: 14px
}

.footer .menu-footer a:hover {
  color: #d10d32;
}

.footer .copyright {
    font-size: 12px;
    margin-top: 5px;
    text-align: right
}

.footer .copyright a {
    padding: 0 5px;
    display: inline-block
}

.footer .icon-footer {
    text-align: right;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500
}
.banner-category {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  margin-bottom: 40px;
  position: relative;
  text-align: center;
}
.banner-category:before {
    width: 100%;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.2);
    z-index: 0;
}
.banner-category .title {
    color: #fff;
    font-size: 30px;
    line-height: 30px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 40px 20px 10px;
    margin: 0;
}
.filter-options {
    margin-bottom: 12px;
}
.sidebar-posts .info-title {
    font-weight: 400;
    padding: 5px 0 15px;
    text-transform: uppercase;
}
.sidebar-posts .post {
  overflow: hidden;
    border: none;
    padding: 15px 0 0;
    margin-bottom: 10px;
    border-top: 1px solid #ddd;
}
.sidebar-posts .post .img {
    float: left;
    width: 30%;
}

.sidebar-posts .post .content {
    float: right;
    width: 70%;
    padding: 0 0 0 10px;
}

.sidebar-posts .avatar-block .name {
    font-size: 12px;
    line-height: 14px;
    padding: 0;
}
.sidebar-posts .avatar-block .name a {
    color: #2ebbb3;
}

.more-posts, .tag-cloud {
    margin-bottom: 40px;
    text-align: center;
}

.more-posts a {
    text-transform: uppercase;
    border: 1px solid #d10d32;
    background-color: #fff;
    color: #3a3a3a;
    transition: all .2s ease-in-out;
}
.sidebar-users {
    background-color: #dcf7f3;
    padding: 20px 0 15px;
    margin-bottom: 40px;
    position: relative;
}
.sidebar-users:after {
    content: "\f007";
    font-family: FontAwesome;
    color: #805841;
    border-radius: 100%;
    background-color: #dcf7f3;
    width: 36px;
    height: 36px;
    position: absolute;
    top: -18px;
    left: calc(50% - 18px);
    font-size: 18px;
    padding-top: 5px;
    text-align: center;
}
.sidebar-users .info-title {
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.sidebar-users .avatar-block {
    padding: 10px;
    border-top: 1px solid #fff;
}

.sidebar-users .avatar-block .avatar {
    display: inline-block;
    margin-right: 7px;
    float: left;
    position: relative;
}
.sidebar-users .avatar-block .avatar img {
  width: 28px;
  height: 28px;
  border-radius: 100%;
}
.sidebar-users .avatar-block .name {
    font-size: 12px;
    line-height: 14px;
    padding: 0;
}
.sidebar-users .avatar-block .info {
    font-size: 12px;
    color: #7b7b7b;
}
.tag-cloud {
    background-color: #dcf7f3;
    padding: 20px 20px 15px;
    position: relative;
    margin-bottom: 40px;
    text-align: center;
}
.tag-cloud:after {
    content: "\f02c";
    font-family: FontAwesome;
    color: #805841;
    border-radius: 100%;
    background-color: #dcf7f3;
    width: 36px;
    height: 36px;
    position: absolute;
    top: -18px;
    left: calc(50% - 18px);
    font-size: 18px;
    text-align: center;
    padding-top: 5px;
}
.tag-cloud a {
    display: inline-block;
    border: 2px solid #fff;
    padding: 2px 10px;
    color: #3a3a3a;
    margin-bottom: 5px;
}
.tag-cloud a:hover {
    background-color: #fff;
}
.tag-cloud .more-tag {
    color: #d10d32;
}
.formSearchTradeWrap {
  margin-bottom: 30px;
}
.formSearchTradeInput {
    border: 1px solid #ccc;
    height: 30px;
    padding: 0 5px;
    margin-left: 5px;
    width: 230px;
    color: #000;
}
.formSearchTradeSubmit {
    border: 1px solid #d10d32;
    background-color: #fff;
    color: #d10d32;
    height: 30px;
    padding: 0 15px;
    -webkit-transition-property: background-color;
    -webkit-transition-duration: 0.5s;
    transition-property: background-color;
    transition-duration: 0.5s;
}
.formSearchTradeSubmit:hover {
    background-color: #d10d32;
    color: #FFF;
}
.breadcrum span,
.breadcrum a {
    color: #fff;
}
.breadcrum span:hover,
.breadcrum a:hover {
    color: #d10d32;
}
.post-detail-container .post-info {
  margin-bottom: 20px;
}
.post-detail-container .avatar-sm img {
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 50%;
}
.post-detail-container .post-info a {
  color: #2ebbb3;
}
.post-detail-container .post-info a:hover {
  color: #d10d32;
}
.post-detail-container .post-info span {
  color: #666;
}
.post-detail-container .post-info .first {
  border-bottom: 1px solid #ddd;
  display: block;
  margin: 0 0 2px;
  padding: 5px 0;
}
.post-detail-container .post-info .second {
  overflow: hidden;
  display: block;
  clear: both;
  width: 100%;
  margin-top: 4px;
}
.post-detail-container .post-info .second .rateYo {
  float: left;
}
.post-detail-container .post-info .second .post-stat {
  float: left;
  margin-left: 10px;
}
.post-detail-container .post-info .second .fa {
  color: #666;
}
.post-detail-container .post-info .second .comment {
  margin: 0 10px;
}
.post-detail-container .list-keywords label {
    text-transform: uppercase;
}
.post-detail-container .list-keywords a {
    color: #2ebbb3;
}
.comments {
  font-size: 16px;
  font-weight: 500;
  border-bottom: 1px solid #ddd;
  padding: 0 0 5px;
  margin: 0 0 20px;
}
.sub-section-title {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}
.list-link {
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
}
.list-link ul {
    margin: 0 0 0 30px;
    padding: 0;
    line-height: 200%;
}
.list-link ul a {
    color: #d10d32;
}
.list-link ul a:hover {
    color: #333;
}
.list-same-user {
  margin-bottom: 30px;
}
.avatar-block {
    margin-bottom: 20px;
}
.avatar-block a.avatar {
  float: left;
  margin-right: 10px;
  position: relative;
}
.avatar-block .name {
    font-size: 18px;
    font-weight: 400;
    padding: 7px 0 3px;
}
.avatar-block .info {
    color: #7b7b7b;
}
.info-block .btn {
  border: 1px solid #a10a27;
  background-color: #fff;
  color: #a10a27;
  width: 100%;
}
.info-block .icons-social {
  text-align: center;
}
.info-block .icons-social a {
    color: #d10d32;
    display: inline-block;
    padding: 10px;
}
.stats-info {
    border-top: 2px solid #dcf7f3;
    padding: 10px 0 0;
    margin-bottom: 10px;
}
.stats-info ul {
    padding: 0;
    margin: 0 0 30px;
    list-style-type: none;
}
.stats-info ul li {
    padding: 7px 5px;
    border-bottom: 1px solid #ddd;
}
.stats-info ul li .fa {
    width: 20px;
}
.stats-info ul li .number {
    float: right;
    font-weight: 500;
}
.hashtag {
    margin-bottom: 30px;
}
.hashtag .lbl {
    text-transform: uppercase;
    font-size: 20px;
    position: relative;
    margin-bottom: 10px;
}
.hashtag .lbl span {
    background-color: #fff;
    padding-right: 10px;
    position: relative;
    z-index: 2;
}
.hashtag .lbl:after {
    position: absolute;
    width: 100%;
    height: 1px;
    border-top: 1px dotted #3a3a3a;
    z-index: 1;
    content: "";
    top: 13px;
    right: 0;
}
.hashtag .content a {
    text-transform: uppercase;
}
@media (max-width: 768px) {
  .hot-news .carousel-caption {
    padding-bottom: 5px;
    margin: 0;
  }
  .hot-news .carousel-caption h3 {
    margin-top: 5px;
  }
  .hot-news .carousel-caption h3 a {
    font-size: 14px;
  }
  .carousel-caption .inner p {
    display: none;
  }
  .carousel-indicators {
    bottom: -10px;
  }
  .list-hot-news {
    margin-top: 10px;
  }
  .list-hot-news .lbl {
    font-size: 22px;
    margin-bottom: 4px;
  }
  .list-hot-news .item {
    padding: 4px 0;
  }
  .navbar-default .navbar-nav.navbar-right>li>a.btn-post-text {
    text-align: left;
  }
  .footer .menu-footer a {
    padding: 0 6px;
  }
  .footer .logo-footer {
    float: none;
    margin-right: 0;
    text-align: center;
    margin-bottom: 10px;
  }
  .footer .copyright {
    font-size: 12px;
    text-align: center;
  }
  .list-hot-news .item:last-child {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .hot-news {
    margin-top: 74px;
  }
  .carousel-caption .inner p {
    display: inherit;
  }
  .hot-news .carousel-caption h3 a {
    font-size: 20px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .hot-news {
    margin-top: 74px;
  }
  .carousel-caption .inner p {
    display: inherit;
  }
  .hot-news .carousel-caption h3 a {
    font-size: 20px;
  }
}
