<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Fixed Top Navbar Example for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/navbar-fixed-top.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                <a class="navbar-brand" href="#">
                    <img alt="Cộng đồng review mỹ phẩm TalkBeauty" src="http://www.talkbeauty.vn/public/images/logo-talkbeauty.png" width="50" />
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Tin Tức</a></li>
                    <li><a href="#about">Chăm sóc da</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Trang điểm <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li><a href="#contact">Nước hoa</a></li>
                    <li><a href="#contact">Sự kiện</a></li>
                    <li><a href="#contact">Thương hiệu</a></li>
                    <li><a href="#contact">Đổi quà</a></li>
                    <li><a href="#contact">Hỏi đáp</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" class="btn btn-post-text">Đăng bài</a></li>
                    <li class="dropdown dropdown-search">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </a>
                        <ul class="dropdown-menu">
                          <li>
                            <form method="GET">
                              <input class="form-control" placeholder="Search">
                            </form>
                          </li>
                        </ul>
                    </li>
                    <li class="dropdown dropdown-user">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                      </a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Hồ sơ</a></li>
                        <li><a href="#">Thông báo</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Thoát</a></li>
                      </ul>
                  </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    <div class="hot-news">
        <div class="container">
            <div class="col-sm-12 col-md-8">
                <div class="hot-news-banner">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img src="images/rsz_chong_tham_nuoc.jpg" alt="..." />
                                <div class="carousel-caption">
                                    <div class="inner">
                                        <h3>
                                      <a href="#" title="o cộng đồng làm đẹp">3CE Velvet Lip Tint - Một lần nữa 3CE  tung bộ sản phẩm gây bão cộng đồng làm đẹp</a>
                                    </h3>
                                        <p>Bộ sưu tập son 3CE Velvet Lip Tint được hãng cho ra mắt nhân dịp lễ 20-10 gồm 10 màu son cực kỳ trendy khiến con gái Việt điên đảo.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <img src="images/rsz_chong_tham_nuoc.jpg" alt="..." />
                                <div class="carousel-caption">
                                    <div class="inner">
                                        <h3>
                                      <a href="#" title="o cộng đồng làm đẹp">3CE Velvet Lip Tint - Một lần nữa 3CE  tung bộ sản phẩm gây bão cộng đồng làm đẹp</a>
                                    </h3>
                                        <p>Bộ sưu tập son 3CE Velvet Lip Tint được hãng cho ra mắt nhân dịp lễ 20-10 ...</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="list-hot-news">
                    <div class="lbl">Bài viết nổi bật</div>

                    <div class="item">
                        <div class="title"><a href="http://www.talkbeauty.vn/review-son-duong-moi/so-sanh-son-duong-moi-vaseline-pure-va-himalaya-herbals-lip-balm-3048.html">So sánh son dưỡng môi Vaseline Pure và Himalaya Herbals Lip Balm</a></div>
                        <div class="cats">
                        </div>
                    </div>

                    <div class="item">
                        <div class="title"><a href="http://www.talkbeauty.vn/review-san-pham-dac-tri/kem-tri-mun-erylik-lieu-co-than-thanh-nhu-loi-don-1671.html">Kem trị mụn Erylik liệu có thần thánh như lời đồn?</a></div>
                        <div class="cats">
                        </div>
                    </div>

                    <div class="item">
                        <div class="title"><a href="http://www.talkbeauty.vn/review-but-chi-ke-mat/ke-mat-nuoc-the-face-shop-ink-graffi-brush-pen-liner-1311.html">Kẻ mắt nước THE FACE SHOP Ink Graffi brush pen liner</a></div>
                        <div class="cats">
                        </div>
                    </div>

                    <div class="item">
                        <div class="title"><a href="http://www.talkbeauty.vn/review-but-chi-ke-mat/review-but-ke-mat-khong-troi-apieu-color-forever-gel-pencil-liner-1379.html">Review bút kẻ mắt không trôi A’pieu Color Forever Gel Pencil Liner</a></div>
                        <div class="cats">
                        </div>
                    </div>

                    <div class="item">
                        <div class="title"><a href="http://www.talkbeauty.vn/review-sua-tam/bo-doi-sua-tam-va-duong-the-thefaceshop-raspberry-body-care-set-1629.html">Bộ đôi sữa tắm và dưỡng thể THEFACESHOP Raspberry Body Care Set</a></div>
                        <div class="cats">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /container -->

    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-9">
                    <div class="post-container">
                        <div class="container-fluid">
                            <!-- Example row of columns -->
                            <h1>BÀI VIẾT MỚI NHẤT</h1>
                            <div class="row">
                                <div class="col-sm-6 col-md-4">
                                    <div class="post thumbnail">
                                        <a href="#">
                                            <img src="http://www.talkbeauty.vn/public/assets/user_dir/2776/rsz_3ce-velvet-lip-tint2.jpg" class="img-responsive" alt="[Review] 3CE Velvet Lip Tint - Cơn sốt mới trên toàn châu Á"></a>
                                        </a>
                                        <div class="content">
                                            <div class="avatar-block">
                                                <a title="2776" href="#" class="avatar default">
                                                    Q
                                                </a>
                                                <div class="name">
                                                    <a href="http://www.talkbeauty.vn/thanh-vien-2776.html" title="QuinQuin">QuinQuin</a>
                                                </div>
                                                <div class="info">Beauty Lover</div>
                                            </div>
                                            <div class="title">
                                                <a href="#" class="avatar" title="[Review] 3CE Velvet Lip Tint - Cơn sốt mới trên toàn châu Á">[Review] 3CE Velvet Lip Tint - Cơn sốt mới trên toàn châu Á</a>
                                            </div>
                                            <div class="info-search-bottom">
                                                <div class="pull-left">
                                                    <a href="javascript:;" rel="nofollow">
                                                        <span>
                                                          <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
                                                        <span ng-bind="item.TotalLike" class="ng-binding">0</span>
                                                        </span>
                                                    </a>
                                                    <a href="javascript:;" rel="nofollow" ng-click="showInfoModal(item.Id, 17)">
                                                        <span>
                                                          <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                                                        <span ng-bind="item.TotalReview" class="ng-binding">1</span>
                                                        </span>
                                                    </a>
                                                </div>
                                                <div class="pull-right">
                                                    <span>10 Lượt xem</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-md-4">
                                    <div class="post thumbnail">
                                        <a href="#">
                                            <img src="http://www.talkbeauty.vn/public/assets/user_dir/2776/rsz_3ce-velvet-lip-tint2.jpg" class="img-responsive" alt="[Review] 3CE Velvet Lip Tint - Cơn sốt mới trên toàn châu Á"></a>
                                        </a>
                                        <div class="content">
                                            <div class="avatar-block">
                                                <a title="2776" href="#" class="avatar default">
                                                    Q
                                                </a>
                                                <div class="name">
                                                    <a href="http://www.talkbeauty.vn/thanh-vien-2776.html" title="QuinQuin">QuinQuin</a>
                                                </div>
                                                <div class="info">Beauty Lover</div>
                                            </div>
                                            <div class="title">
                                                <a href="#" class="avatar" title="[Review] 3CE Velvet Lip Tint - Cơn sốt mới trên toàn châu Á">[Review] 3CE Velvet Lip Tint - Cơn sốt mới trên toàn châu Á</a>
                                            </div>
                                            <div class="info-search-bottom">
                                                <div class="pull-left">
                                                    <a href="javascript:;" rel="nofollow">
                                                        <span>
                                                          <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
                                                        <span ng-bind="item.TotalLike" class="ng-binding">0</span>
                                                        </span>
                                                    </a>
                                                    <a href="javascript:;" rel="nofollow" ng-click="showInfoModal(item.Id, 17)">
                                                        <span>
                                                          <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                                                        <span ng-bind="item.TotalReview" class="ng-binding">1</span>
                                                        </span>
                                                    </a>
                                                </div>
                                                <div class="pull-right">
                                                    <span>10 Lượt xem</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4">
                                    <div class="post thumbnail">
                                        <a href="#">
                                            <img src="http://www.talkbeauty.vn/public/assets/user_dir/2776/rsz_3ce-velvet-lip-tint2.jpg" class="img-responsive" alt="[Review] 3CE Velvet Lip Tint - Cơn sốt mới trên toàn châu Á"></a>
                                        </a>
                                        <div class="content">
                                            <div class="avatar-block">
                                                <a title="2776" href="#" class="avatar default">
                                                    Q
                                                </a>
                                                <div class="name">
                                                    <a href="http://www.talkbeauty.vn/thanh-vien-2776.html" title="QuinQuin">QuinQuin</a>
                                                </div>
                                                <div class="info">Beauty Lover</div>
                                            </div>
                                            <div class="title">
                                                <a href="#" class="avatar" title="[Review] 3CE Velvet Lip Tint - Cơn sốt mới trên toàn châu Á">[Review] 3CE Velvet Lip Tint - Cơn sốt mới trên toàn châu Á</a>
                                            </div>
                                            <div class="info-search-bottom">
                                                <div class="pull-left">
                                                    <a href="javascript:;" rel="nofollow">
                                                        <span>
                                                          <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
                                                        <span ng-bind="item.TotalLike" class="ng-binding">0</span>
                                                        </span>
                                                    </a>
                                                    <a href="javascript:;" rel="nofollow" ng-click="showInfoModal(item.Id, 17)">
                                                        <span>
                                                          <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                                                        <span ng-bind="item.TotalReview" class="ng-binding">1</span>
                                                        </span>
                                                    </a>
                                                </div>
                                                <div class="pull-right">
                                                    <span>10 Lượt xem</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4">
                                    <div class="post thumbnail">
                                        <a href="#">
                                            <img src="http://www.talkbeauty.vn/public/assets/user_dir/2776/rsz_3ce-velvet-lip-tint2.jpg" class="img-responsive" alt="[Review] 3CE Velvet Lip Tint - Cơn sốt mới trên toàn châu Á"></a>
                                        </a>
                                        <div class="content">
                                            <div class="avatar-block">
                                                <a title="2776" href="#" class="avatar default">
                                                    Q
                                                </a>
                                                <div class="name">
                                                    <a href="http://www.talkbeauty.vn/thanh-vien-2776.html" title="QuinQuin">QuinQuin</a>
                                                </div>
                                                <div class="info">Beauty Lover</div>
                                            </div>
                                            <div class="title">
                                                <a href="#" class="avatar" title="[Review] 3CE Velvet Lip Tint - Cơn sốt mới trên toàn châu Á">[Review] 3CE Velvet Lip Tint - Cơn sốt mới trên toàn châu Á</a>
                                            </div>
                                            <div class="info-search-bottom">
                                                <div class="pull-left">
                                                    <a href="javascript:;" rel="nofollow">
                                                        <span>
                                                          <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
                                                        <span ng-bind="item.TotalLike" class="ng-binding">0</span>
                                                        </span>
                                                    </a>
                                                    <a href="javascript:;" rel="nofollow" ng-click="showInfoModal(item.Id, 17)">
                                                        <span>
                                                          <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                                                        <span ng-bind="item.TotalReview" class="ng-binding">1</span>
                                                        </span>
                                                    </a>
                                                </div>
                                                <div class="pull-right">
                                                    <span>10 Lượt xem</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-md-4">
                                    <div class="post thumbnail">
                                        <a href="#">
                                            <img src="http://www.talkbeauty.vn/public/assets/user_dir/2776/rsz_3ce-velvet-lip-tint2.jpg" class="img-responsive" alt="[Review] 3CE Velvet Lip Tint - Cơn sốt mới trên toàn châu Á"></a>
                                        </a>
                                        <div class="content">
                                            <div class="avatar-block">
                                                <a title="2776" href="#" class="avatar default">
                                                    Q
                                                </a>
                                                <div class="name">
                                                    <a href="http://www.talkbeauty.vn/thanh-vien-2776.html" title="QuinQuin">QuinQuin</a>
                                                </div>
                                                <div class="info">Beauty Lover</div>
                                            </div>
                                            <div class="title">
                                                <a href="#" class="avatar" title="[Review] 3CE Velvet Lip Tint - Cơn sốt mới trên toàn châu Á">[Review] 3CE Velvet Lip Tint - Cơn sốt mới trên toàn châu Á aaaaaa</a>
                                            </div>
                                            <div class="info-search-bottom">
                                                <div class="pull-left">
                                                    <a href="javascript:;" rel="nofollow">
                                                        <span>
                                                          <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
                                                        <span ng-bind="item.TotalLike" class="ng-binding">0</span>
                                                        </span>
                                                    </a>
                                                    <a href="javascript:;" rel="nofollow" ng-click="showInfoModal(item.Id, 17)">
                                                        <span>
                                                          <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                                                        <span ng-bind="item.TotalReview" class="ng-binding">1</span>
                                                        </span>
                                                    </a>
                                                </div>
                                                <div class="pull-right">
                                                    <span>10 Lượt xem</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="container-fluid">
                            <!-- Example row of columns -->
                            <h1>POST YÊU THÍCH</h1>
                            <div class="row">
                                <div class="col-sm-6 col-md-4">
                                    <div class="post thumbnail">
                                        <a href="#">
                                            <img src="http://www.talkbeauty.vn/public/assets/user_dir/2776/rsz_3ce-velvet-lip-tint2.jpg" class="img-responsive" alt="[Review] 3CE Velvet Lip Tint - Cơn sốt mới trên toàn châu Á"></a>
                                        </a>
                                        <div class="content">
                                            <div class="avatar-block">
                                                <a title="2776" href="#" class="avatar default">
                                                  Q
                                              </a>
                                                <div class="name">
                                                    <a href="http://www.talkbeauty.vn/thanh-vien-2776.html" title="QuinQuin">QuinQuin</a>
                                                </div>
                                                <div class="info">Beauty Lover</div>
                                            </div>
                                            <div class="title">
                                                <a href="#" class="avatar" title="[Review] 3CE Velvet Lip Tint - Cơn sốt mới trên toàn châu Á">[Review] 3CE Velvet Lip Tint - Cơn sốt mới trên toàn châu Á</a>
                                            </div>
                                            <div class="info-search-bottom">
                                                <div class="pull-left">
                                                    <a href="javascript:;" rel="nofollow">
                                                        <span>
                                                        <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
                                                        <span ng-bind="item.TotalLike" class="ng-binding">0</span>
                                                        </span>
                                                    </a>
                                                    <a href="javascript:;" rel="nofollow" ng-click="showInfoModal(item.Id, 17)">
                                                        <span>
                                                        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                                                        <span ng-bind="item.TotalReview" class="ng-binding">1</span>
                                                        </span>
                                                    </a>
                                                </div>
                                                <div class="pull-right">
                                                    <span>10 Lượt xem</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3">
                    <div class="home-sidebar">
                        <div class="panel adv">
                            <img src="images/adv.png" class="img-responsive" alt="Responsive image">
                        </div>
                        <div class="panel">
                            <div class="talkbeauty-hint">
                                <div class="lbl">
                                  <a href="h#" style="color:#d10d32">TALKBeauty gợi ý</a></div>
                                <div class="content">
                                    <div class="item clearfix">
                                        <div class="img">
                                            <a href="#">
                                              <img src="http://www.talkbeauty.vn/public/assets/user_dir/bao-ngan-3299/fragrances.jpg" class="img-responsive" alt="Bạn sẽ TIẾT KIỆM được một khoản tiền lớn khi hiểu được thuật ngữ này">
                                            </a>
                                        </div>
                                        <div class="title">
                                            <a href="http://www.talkbeauty.vn/my-pham-cham-soc-da/ban-se-tiet-kiem-duoc-mot-khoan-tien-lon-khi-hieu-duoc-thuat-ngu-nay-3080.html" class="">Bạn sẽ TIẾT KIỆM được một khoản tiền lớn khi hiểu được thuật ngữ này</a>
                                        </div>
                                    </div>
                                    <div class="item clearfix">
                                        <div class="img">
                                            <a href="#">
                                              <img src="http://www.talkbeauty.vn/public/assets/user_dir/bao-ngan-3299/fragrances.jpg" class="img-responsive" alt="Bạn sẽ TIẾT KIỆM được một khoản tiền lớn khi hiểu được thuật ngữ này">
                                            </a>
                                        </div>
                                        <div class="title">
                                            <a href="http://www.talkbeauty.vn/my-pham-cham-soc-da/ban-se-tiet-kiem-duoc-mot-khoan-tien-lon-khi-hieu-duoc-thuat-ngu-nay-3080.html" class="">Bạn sẽ TIẾT KIỆM được một khoản tiền lớn khi hiểu được thuật ngữ này</a>
                                        </div>
                                    </div>

                                    <div class="item clearfix more-posts"><a href="http://www.talkbeauty.vn/goi-y-bai-viet-review-my-pham.html" class="btn btn-sm btn-grey">Xem nhiều gợi ý nữa</i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="top-member post-container">
                <div class="container-fluid">
                    <!-- Example row of columns -->
                    <h1>Top THANH VIEN</h1>
                    <div class="row">
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="80" height="80">
                            <div class="name">
        							         <a href="http://www.talkbeauty.vn/thanh-vien-Lilulu.html">Lilulu Lilulu</a>
                						</div>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="80" height="80">
                            <div class="name">
        							         <a href="http://www.talkbeauty.vn/thanh-vien-Lilulu.html">Lilulu Lilulu</a>
                						</div>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="80" height="80">
                            <div class="name">
        							         <a href="http://www.talkbeauty.vn/thanh-vien-Lilulu.html">Lilulu Lilulu</a>
                						</div>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="80" height="80">
                            <div class="name">
        							         <a href="http://www.talkbeauty.vn/thanh-vien-Lilulu.html">Lilulu Lilulu</a>
                						</div>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="80" height="80">
                            <div class="name">
        							         <a href="http://www.talkbeauty.vn/thanh-vien-Lilulu.html">Lilulu Lilulu</a>
                						</div>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="80" height="80">
                            <div class="name">
        							         <a href="http://www.talkbeauty.vn/thanh-vien-Lilulu.html">Lilulu Lilulu</a>
                						</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="clearfix">
                        <div class="logo-footer">
                            <a href="http://www.talkbeauty.vn/" title="TalkBeauty chia sẻ những bí quyết làm đẹp và đánh giá mỹ phẩm chân thực nhất, giúp bạn lựa chọn mỹ phẩm hợp da và nhiều kinh nghiệm sử dụng mỹ phẩm, làm đẹp hữu ích "><img src="http://www.talkbeauty.vn/public/images/logo-talkbeauty.png" alt="TalkBeauty chia sẻ những bí quyết làm đẹp và đánh giá mỹ phẩm chân thực nhất, giúp bạn lựa chọn mỹ phẩm hợp da và nhiều kinh nghiệm sử dụng mỹ phẩm, làm đẹp hữu ích "></a>
                        </div>
                        <div class="menu-footer">
                            <a href="http://www.talkbeauty.vn/gioi-thieu">Giới thiệu</a>
                            <a href="http://www.talkbeauty.vn/tich-luy-diem">Tích điểm</a>
                            <a href="http://www.talkbeauty.vn/hoi-dap">Hỏi đáp</a>
                            <a href="http://www.talkbeauty.vn/lien-he">Liên hệ</a>
                        </div>
                    </div>


                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="icon-footer">
                        <div class="icons">
                            <span>Follow chúng tôi tại:</span>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>

                        </div>
                    </div>
                    <div class="copyright">

                        <p>
                            <a href="http://www.talkbeauty.vn/dieu-khoan-su-dung">Điều khoản sử dụng</a> |
                            <a href="http://www.talkbeauty.vn/dieu-khoan-rieng-tu">Điều khoản riêng tư</a> |
                            <a href="http://www.talkbeauty.vn/dieu-khoan-ve-cong-dong">Điều khoản về cộng đồng</a>
                        </p>
                        <p> © Copyright 2017 TalkBeauty. </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')
    </script>
    <script src="js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
</body>

</html>
